<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>
        <meta charset="utf-8">
          <link href='https://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
          <link href='https://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
          <link href='/font-awesome-4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

          <!--scripts-->
          <script src="/js/jquery.min.js"></script>
          <script src="/js/bootstrap.min.js"></script>

          <!--stylesheets-->
          <link rel="stylesheet" href="/css/bootstrap.css" />
          <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <!--value is blank bc haven't created a user-->
    <body>

      <div class="container-fluid text-center">

        <!--title-->
        <div class="row title-container">
          <a href="/users"><div class="logo"></div></a>
          <div class="sub-title">address book</div>
        </div>

        <!--navbar-->
        <!--https://getbootstrap.com/components/#navbar-->
        <div class="row nav-group">
          <div class="col-xl-4 col-md-3 col-sm-2 hidden-xs"></div>
          <div class="col-xl-4 col-md-6 col-sm-8 col-xs-12 nav-container">
            <nav class="navbar navbar-default" id="primary-navbar">
              <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/users"><i class="fa fa-home"></i></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/user/new">New Contact <i class="fa fa-plus-square-o"></i></a></li>
                  <li><a href="/user/help">Help <i class="fa fa-question-circle"></i></a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        <div class="col-xl-4 col-md-3 col-sm-2 hidden-xs"></div>
        </div>

      <div class="row">
      <div class="col-xl-4 col-md-3 col-sm-2 hidden-xs"></div>

      <!--solo contact-->
      <div class="col-xl-4 col-md-6 col-sm-8 col-xs-12 solo-contact">
        <h1>New Contact</h1>
        <form action="/users" method="POST">

            <div class="form-group">
              <div class="col-xs-2"><label>Full Name</label></div>
              <div class="col-xs-10"><input type="text" class="form-control" id="name" name="name" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Job</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="job" name="job" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Username</label></div>
            <div class="col-xs-10"><input required="" type="text" class="form-control" id="username" name="username" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Image URL</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="link" name="link" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Address</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="address" name="address" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>State</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="state" name="state" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Zip</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="zip" name="zip" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Phone</label></div>
            <div class="col-xs-10"><input type="text" class="form-control" id="phone" name="phone" value="" /></div>
            </div>

            <div class="form-group">
            <div class="col-xs-2"><label>Notes</label></div>
            <div class="col-xs-10"><textarea class="form-control notes" id="notes" name="notes" value="" rows="3" cols="10" ></textarea></div>
            <!-- <div class="col-xs-10"><input type="text" class="form-control" id="notes" name="notes" value="" /> -->
            </div>

            <button class="btn btn-primary" type="submit">Create</button>

        </form>
      </div>

      <div class="col-xl-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>

  </div>
  <div class="col-md-12 footer">MongoDB, Node, EJS, Express and vagrant project created for Spring 2016 Advanced Coding class for MJ-School at the University of North Carolina at Chapel Hill.
    <br><br><a href="https://dribbble.com/shots/475320-COCO-CAFE-logo-Coconut-concept">Logo concept</a> by Jan Zabransky
  </div>
    </body>
</html>
