/*don't forget to add margin stuff as seen in typography. also fonts!*/
body {
}

/*name title*/
h1 {
  border-bottom: 1px solid #000;
  font-size: 23px;
  line-height: 29px;
}

/*.row {
  margin: 0;
}*/

.name-header {
  font-size: 20px;
  margin-top: -15px;
  padding: 0;
  border-bottom: 1px solid #000;
}

.title-container {
  margin: 24px;
}

/*menu*/

/*with addresses etc*/
.contacts-container {
  background: #fff;
}

/*address book*/
.address-group {
  border: 1px solid #000;
  padding: 20px;
}

.contact-img {
  background: #eee;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  float: left;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 1;
}

.job-title {
  padding: 0;
  margin: 0;
  font-style: italic;
}

.solo-contact {
  background: #eee;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 1px solid #000;
  display: inline-block;
}

.form-group {
  padding: 15px;
}

label {
  display: inline;
}
